# Laboratorio 5. EAE253b
<hr/>

**Antes de comenzar:**

- **DEBE trabajar en su equipo local.**

- Laboratorio debe ser realizado **de forma individual**. Obviamente, se pueden discutir ideas, pero cualquier intercambio de códigos **no está permitido**.

- Sólo se evaluarán secciones "**TAREAS**"; pero se recomienda realizar secciones **EJERCICIOS**

**Instrucciones de entrega:**

- Debe entregar este laboratorio por WebCurso, en buzón de tareas. Descargar archivo ".ipynb" a su equipo y luego subirlo a WebCurso.

- **Debe trabajar en su equipo local.**

- NO es necesario compartir el notebook por Colab Research. Solo subir su archivo ".ipynb" local.

- Plazo máximo de entrega: **Viernes 3 de mayo, 11:55pm.**

<hr />

***Como vieron en el laboratorio anterior, pandas es una librería de python destinada al análisis de datos. Esta vez, el laboratorio se basará en como filtrar datos a través de DataFrames de Pandas y, posteriormente, el uso de SQL para ser capaces de cargar solo los datos que necesitamos y en el formato que queremos.***

## Seleccionando información con *Pandas*

Cuando cargamos una base de datos a Pandas, se cargan **todos los datos en la memoría del computador**. Típicamente, las bases de datos las cargamos en un objeto llamado "DataFrame", que nos permite realizar operaciones típicas, como seleccionar registros que cumplen algún criterio, agrupar información de acuerdo a alguna variable categórica, y crear nuevas variables.

Antes de partir, carguemos una base de datos de ejemplo. En este caso, trabajaremos con una base de datos que contiene información de "Pokemones".

In [ ]:
# Ejemplo 1:

from IPython.display import display

import pandas as pd


data_path = 'https://github.com/pagonzalez20/archivos/blob/master/pokemon.dta?raw=true'
df = pd.read_stata(data_path)
df.head()

En Pandas, las siguientes dos sentencias (equivalentes) nos permiten filtrar los registros de acuerdo a cierto criterio. En este caso, por ejemplo, nos enfocaríamos en los registros donde los valores de la variable *"a"* son mayores que los valores de la variable *"b"*:

```
1.   df.query('a > b')
2.   df[df.a > df.b]
```

#### Ejemplo 1. Busque aquellos Pokemones con "ataque" que duplique a su "defensa".

In [ ]:
df_ataque_mayor_defensa = df.query('Ataque > 2 * Defensa')

display(df_ataque_mayor_defensa)

#### Ejercicio. Busque aquellos Pokemones de la sexta generación de tipo "Agua"

In [ ]:
# Ingrese su codigo aquí

#### Ejemplo 2. Muestre en un gráfico circular el porcentaje de legendarios que pertenecen a cada generación.

Como se ha visto en clases, Python también nos permite realizar acciones un poco más complejas a través de varias etapas... Por ejemplo, si quisieramos graficar el porcentaje de Pokemones legendarios pertenecientes a cada generación, podríamos hacerlo de la siguiente manera:

In [ ]:
# Primero, queremos crear una variable "dummy" (0,1) que nos permita saber cuáles Pokemones son legendarios 
# (valor 1) y cuáles no (valor 0)

df['dLegendario'] = df['Legendario'] == "Si"

# Luego, queremos contar el número de legendarios por generación. Para esto, crearemos un nuevo DataFrame, 
# con la información agrupada por la variable "Generacion"

data_por_generacion = df.groupby(by='Generacion').sum()

data_por_generacion.head()

In [ ]:
# El problema del objeto "data_por_generacion" es que "suma" todas las columnas, 
# pero a nosotros nos interesa solo la última columna.

# Seleccionemos entonces sólo la columna que nos interesa
df_legendarios = data_por_generacion[['dLegendario']]
display(df_legendarios)

In [ ]:
%matplotlib inline

# ahora podemos graficar y formatear el gráfico

df_legendarios.plot(kind='pie', 
                    autopct='%1.0f%%', 
                    x = "Generacion", 
                    y = "dLegendario",
                    legend=True,
                    shadow=True,
                    fontsize=14,
                    figsize=(7,7))

#### Ejercicio. Busque el % de Pokemones que hay según tipo (Agua, Fuego, etc)

In [ ]:
# Ingrese su código aquí.

### TAREA 1

1. Busque a aquellos pokemones de la primera generación que sean Pikachu o tengan una defensa menor a 50, un ataque mayor o igual a 100 y que tengan por lo menos el triple de HP que de Velocidad.

In [ ]:
#Ingrese su código aquí.

2. Calcule el Ataque promedio de los Pokemones, por Generación. ¿Cuál es la generación con mayor ataque promedio?

In [ ]:
#Ingrese su código aquí.

3. Calcule el Ataque promedio de los Pokemones, por Generación y por Tipo. ¿Cuál es la generación/tipo con mayor ataque promedio?

In [ ]:
#Ingrese su código aquí.

## Usando SQL

Como se mencionó anteriormente, cuando cargamos datos en Pandas, se cargan **todos** los datos en la "memoria" del computador. Esto puede ser eficiente cuando trabajamos con pocos datos, sin embargo, deja de ser factible cuando necesitamos analizar bases de datos de mayor tamaño (puesto a que no "caben" en la RAM).

Para los ejercicios siguientes, usaremos una base de datos de Migraciones, donde se detallan las visas entregadas a extranjeros en Chile. La base de datos se puede descargar desde aquí: 

https://www.dropbox.com/s/w63hgphvgm79h1u/db.zip?dl=0

(Datos originales provienen de [datachile](https://en.datachile.io/about/data))

Para lo que sigue, descargaremos la base de datos a nuestro equipo y trabajaremos desde allí.

A continuación importamos la librería sqlite3, que nos permite realizar consultas mediante el lenguaje SQL y nos conectamos a la base de datos ya cargada

In [ ]:
from IPython.display import display

import pandas as pd
import sqlite3

# INGRESAR SU PROPIA RUTA, DONDE DESCARGARON LA BASE

data_path = r'C:\Users\carlo\Lab5_20190424\db.db' 

conn = sqlite3.connect(data_path)
cursor = conn.cursor()

In [ ]:
# Esta es una forma de inspeccionar qué tablas contiene la base de datos

query = 'SELECT tbl_name FROM sqlite_master where type="table"'

df = pd.read_sql(query, conn)

display(df)

SQL nos permite obtener **los datos que queremos, en el formato que queremos**, sin cargar toda la información a la memoria RAM del computador.

Así, mientras que con Pandas cargabamos todos los datos a la memoria, SQL nos permite realizar consultas que, cada una de ellas, representa una nueva "lectura" de la base de datos (desde el disco duro). Esto último, si bien puede ser algo más lento, nos permite trabajar con bases de datos más grandes.

### Ejemplo 1. 

**¿Que debemos hacer si es que queremos obtener las solicitudes de visa que fueron realizadas el año 2006, por menores de edad?**

A continuación se evaluaran 2 opciones diferentes. En la primera se cargan primero todos los datos a un DataFrame y luego filtramos a través de este, mientras que en la segunda hacemos uso del lenguaje SQL.

In [ ]:
query_simple = 'SELECT * FROM Visas;'
df = pd.read_sql(query_simple,conn)

#luego de cargar todos los datos, filtramos lo que queremos
df.query('(year == 2006) & (age < 18)')

#notar que el DataFrame que obtenemos tiene 7588 filas y 18 columnas

In [ ]:
# segunda opcion: cargamos solo los datos que nos interesan

query = 'SELECT * FROM Visas WHERE year = 2006 AND age < 18;'

df = pd.read_sql(query, conn)
df

#notar que el DataFrame que obtenemos tiene 7588 filas y 18 columnas


**Como se pudo ver, en este caso, dado el volumen de datos que contiene el archivo cargado, resulta mucho más conveniente la segunda opción (usar SQL)**

Por ello, a continuación se verán y evaluarán casos básicos con este lenguaje.
Para quien quiera practicar más SQL, les recomiendo el siguiente [sitio web](https://www.w3schools.com/sql/)

#### Ejercicio 1
Obtenga
(a) El número de visas de la cual esta base de datos contiene información.
(b) Separe dicho número por año.

In [ ]:
#ingrese query en "a"
a = ''
df = pd.read_sql(a,conn)
print(df)

In [ ]:
#ingrese query en "b"
b = '''

'''

df = pd.read_sql(b,conn)
df

#### Ejercicio 2
Calcule el promedio de edad de los solicitantes de visa por año. Recuerde que la edad es un número entero.

In [ ]:
#ingrese query en "a"
a = '''

'''

df = pd.read_sql(a,conn)
df

### Tarea 2
1. Realice una consulta que permita saber cuántas visas se han entregado según género y cuál es la edad promedio de las personas que las solicitan en cada grupo (hombre/mujer). Entregue sus resultados en una tabla.
2. ¿Cuál es la nacionalidad de las personas a las que se les entregaron visas? Para responder esto, cuente cuántas visas se han otorgado según la nacionalidad del inmigrante.
3. ¿Cuáles son las 5 nacionalidades con más visas?
4. Cuente cuántas visas son otorgadas, según nivel de educación y genero (en una misma tabla). (*Ayuda: Las tablas "Educacion" y "Sexo" contienen el detalle de la codificación de las variables "sex_id" y "studies_id")*

<hr/>
<center> <h1>Fin del laboratorio.</h1> </center>
 **Recuerde NO compartir el Notebook. Sólo debe subir archivo .ipynb por WebCurso.**.